doctype html
  html ( lang="en-US" ) 
    head 
      meta ( charset="utf-8" )
      meta ( http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" )
      meta ( name="viewport" content="width=device-width, initial-scale=1" )
      meta ( name="application-name" content="Center Stage" )
      meta ( name="description" content="A new social network for casting" )
      meta ( name="keywords" content="social media, actors, network, portfolio, actress, model, casting, center stage" ) 
      link ( rel="stylesheet" type="text/css" href="style.css" )
      title Center Stage 
  body 
    img ( id="bg" src="stage.jpg" )
    div ( id="container" )
      header 
        h1 Center Stage
        h2 Coming Soon!

      form ( action="save" method="post" )
        label ( for="email" )  Subscribe for updates and beta testing 
        br  
        input ( id="email" name="email" type="email" placeholder="example@mail.com" )  
        input ( type="submit" value="Submit" ) 
